In [3]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
import numpy as np

In [4]:
df = pd.read_csv('data/internet_service_churn.csv')  # Завантаження датасету
df.head()

,id,is_tv_subscriber,is_movie_package_subscriber,subscription_age,bill_avg,reamining_contract,service_failure_count,download_avg,upload_avg,download_over_limit,churn
0,15,1,0,11.95,25,0.14,0,8.4,2.3,0,0
1,18,0,0,8.22,0,NaN,0,0.0,0.0,0,1
2,23,1,0,8.91,16,0.00,0,13.7,0.9,0,1
3,27,0,0,6.87,21,NaN,1,0.0,0.0,0,1
4,34,0,0,6.39,0,NaN,0,0.0,0.0,0,1

### Заповнення порожніх значень модою (оскільки у файлі EDA на гістограмах цих колонок видна чітка мода)

In [5]:
df['reamining_contract'] = df['reamining_contract'].fillna(df['reamining_contract'].mode()[0])
df = df.fillna({'download_avg':df['download_avg'].mode()[0]})
df = df.fillna({'upload_avg':df['upload_avg'].mode()[0]})

### Нормалізація даних

In [6]:
scaler = MinMaxScaler()
scaled_df = scaler.fit_transform(df.iloc[:, 3:10])  # За для оптимізації, скейлимо тільки колонки з числовими значеннями (колонки з boolean(0 або 1) не чіпаємо)

In [7]:
df.iloc[:, 3:10] = scaled_df
df = pd.DataFrame(df, columns=df.columns)   # Перетворення відскейленої матриці даних назад у pandas dataframe
df.head()

C:\Users\misha\AppData\Local\Temp\ipykernel_12100\3518395400.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.06157635 0.         0.03940887 ... 0.         0.         0.        ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.iloc[:, 3:10] = scaled_df
C:\Users\misha\AppData\Local\Temp\ipykernel_12100\3518395400.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0. 0. 0. ... 0. 0. 0.]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.iloc[:, 3:10] = scaled_df
C:\Users\misha\AppData\Local\Temp\ipykernel_12100\3518395400.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0. 0. 0. ... 0. 0. 0.]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.iloc[:, 3:10] = scaled_df

,id,is_tv_subscriber,is_movie_package_subscriber,subscription_age,bill_avg,reamining_contract,service_failure_count,download_avg,upload_avg,download_over_limit,churn
0,15,1,0,0.933697,0.061576,0.047945,0.000000,0.001903,0.005074,0.0,0
1,18,0,0,0.642746,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,1
2,23,1,0,0.696568,0.039409,0.000000,0.000000,0.003103,0.001985,0.0,1
3,27,0,0,0.537441,0.051724,0.000000,0.052632,0.000000,0.000000,0.0,1
4,34,0,0,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,1

In [8]:
df.to_csv('data/mode_and_minmax.csv', index=False)   # Створення csv файлу